﻿<ul>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/jei">Just Enough Items (JEI) (by mezz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cc-tweaked">CC: Tweaked (by SquidDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/redstone-gauges-and-switches">Gauges and Switches (by wilechaote)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/endercore">EnderCore (by tterrag1098)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ctm">ConnectedTexturesMod (by tterrag1098)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/opencomputers">OpenComputers (by Sangar_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/engineers-decor">Engineer's Decor (by wilechaote)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-dynamics">Thermal Dynamics (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ender-storage-1-8">Ender Storage 1.8.+ (by covers1624)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/future-minecraft">Future Versions (by tiptopmtg)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/chameleon">Chameleon (by Texelsaur)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/storage-drawers">Storage Drawers (by Texelsaur)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mrcrayfish-furniture-mod">MrCrayfish's Furniture Mod (by MrCrayfish)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/hammer-lib">Hammer Lib (by Zeitheron)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/buildcraft">Buildcraft (by Covert_Jaguar)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/appleskin">AppleSkin (by squeek502)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/universal-mod-core">Universal Mod Core (by cam72cam)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/sit">Sit (by bl4ckscor3)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-diving">Better Diving (by meldexun)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/waila-harvestability">Waila Harvestability (by squeek502)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/wawla">Wawla - What Are We Looking At (by DarkhaxDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/immersive-cables">Immersive Cables (by SanAndreasP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/vampirism-become-a-vampire">Vampirism - Become a vampire! (by maxanier)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/track-api">Track API (by cam72cam)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/chisels-bits">Chisels & Bits (by AlgorithmX2)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/architecturecraft-tridev">ArchitectureCraft - TridentMC Version (by darkevilmac)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/worldeditcui-forge-edition-3">WorldEditCUI Forge Edition 3 (by hexosse)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/light-level-overlay-reloaded">Light Level Overlay Reloaded (by oldjunyi)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thaumcraft">Thaumcraft (by Azanor13)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/llibrary">LLibrary (by _ForgeUser11902522)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/immersive-engineering">Immersive Engineering (by BluSunrize)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tinkers-complement">Tinkers' Complement (by KnightMiner)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/biomes-o-plenty">Biomes O' Plenty (by Forstride)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tinkers-jei">Tinker's JEI (by possible_triangle)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/chisel">Chisel (by tterrag1098)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/its-the-little-things">It's the little things (by Zlepper)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tinkers-construct">Tinkers Construct (by mDiyo)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/immersive-petroleum">Immersive Petroleum (by Flaxbeard)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/p455w0rds-library">p455w0rd's Library (by TheRealp455w0rd)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/chicken-chunks-1-8">Chicken Chunks 1.8.+ (by covers1624)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/worldedit">WorldEdit (by sk89q)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/patchouli">Patchouli (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mantle">Mantle (by mDiyo)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/journeymap">JourneyMap (by techbrew)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/crafttweaker">CraftTweaker (by Jaredlll08)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-better-caves">YUNG's Better Caves (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/vampires-need-umbrellas">Vampires Need Umbrellas (by Focamacho)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/laggoggles">LagGoggles (by Terminator_NL)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ae2wtlib">AE2 Wireless Terminal Library (by TheRealp455w0rd)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/minecraft-rich-presence">DiscordCraft (by dierke9)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/constructs-armory">Construct's Armory (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/redstone-flux">Redstone Flux (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/codechicken-lib-1-8">CodeChicken Lib 1.8.+ (by covers1624)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/vampirism-integrations">Vampirism Integrations (by maxanier)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/netherportalfix">NetherPortalFix (by BlayTheNinth)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mahou-tsukai">Mahou Tsukai (by stepcros)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-foundation">Thermal Foundation (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-core">Project Red - Core (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thaumic-jei">Thaumic JEI (by Buuz135)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/additional-structures">Additional Structures (by XxRexRaptorxX)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/immersive-railroading">Immersive Railroading (by cam72cam)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/iron-backpacks">Iron Backpacks (by gr8pefish)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cofh-core">CoFH Core (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-expansion">Thermal Expansion (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/quark">Quark (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/just-enough-resources-jer">Just Enough Resources (JER) (by way2muchnoise)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-animal-models">Better Animal Models (by cybercat5555)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mrtjpcore">MrTJPCore (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cofh-world">CoFH World (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-better-mineshafts-forge">YUNG's Better Mineshafts (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tickcentral">TickCentral (by Terminator_NL)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/baubles">Baubles (by Azanor13)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/the-twilight-forest">The Twilight Forest (by Benimatic)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/iron-tanks">Iron Tanks (by SolderIO)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-advancements">Better Advancements (by way2muchnoise)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/comforts">Comforts (Forge) (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/iron-chests">Iron Chests (by ProgWML6)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ftb-backups-forge">FTB Backups (Forge) (by FTB)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/autoreglib">AutoRegLib (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/hammer-microblocks">Hammer Microblocks (by Zeitheron)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-integration">Project Red - Integration (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-illumination">Project Red - Illumination (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/wireless-crafting-terminal">Wireless Crafting Terminal (by TheRealp455w0rd)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/corpse">Corpse (by henkelmax)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-compat">Project Red - Compat (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ender-io-base">Ender IO Base (by HenryLoenwind)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/immersiveposts">Immersive Posts (by TwistedGate)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ice-and-fire-dragons">Ice and Fire: Dragons (by alex_khaan)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ender-io-machines">Ender IO Machines (by HenryLoenwind)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ender-io-conduits">Ender IO Conduits (by HenryLoenwind)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/energy-converters">Energy Converters (by xalcon)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/applied-energistics-2">Applied Energistics 2 (by AlgorithmX2)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ender-io-ae2-conduits">Ender IO AE2 Conduits (by HenryLoenwind)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ender-io-oc-conduits">Ender IO OC Conduits (by HenryLoenwind)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mouse-tweaks">Mouse Tweaks (by YaLTeR)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/phosphor-forge">Phosphor (Forge) (by jellysquid3_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ender-io-tic">Ender IO TiC (by HenryLoenwind)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cb-multipart">CB Multipart (by covers1624)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/roguelike-dungeons">Roguelike Dungeons (by Greymerk)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/hwyla">Hwyla (by TehNut)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/vanillafix">VanillaFix (by Runemoro)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/engineers-doors">Engineer's Doors (by nihiltres)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/simply-jetpacks-2">Simply Jetpacks 2 (by Tomson124)</a></li>
</ul>
